.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  height: 100vh;
}
.grid > div {
  text-align: right;
}
.Off {
  background-color: black;
  color: white;
}
.On {
  background-color: white;
  color: black;
}
.btn {
  border-radius: 15%;
  width: 80px;
  padding: 10px;
  margin-right: 10px;
}